
* {
    margin: 0;
    padding: 0;
}

body {
    background: #E9ECF4;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

header h2 {
    color: #99A799;
    text-align: center;
    justify-content: center;
}

footer {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

footer ul li {
    list-style-type: none;
}

footer ul li a {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #99A799;
    border: 1px solid #99A799;
    border-radius: 4px;
}
footer ul li:hover {
    background-color:  lightblue;
}

footer h4 {
    color: #99A799;
}

.bodyPadreGrid {
    width: 90%;
    max-width: 1250px;
    margin: 20px auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, auto);

    grid-template-areas: "header header header header"
        "clientes sobreMi producto contacto"
        "contenido contenido contenido fotito"
        "footer footer footer footer";
}

.bodyPadreGrid>div,
.bodyPadreGrid .header,
.bodyPadreGrid .contenido,
.bodyPadreGrid .fotito,
.bodyPadreGrid .footer {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
}

.bodyPadreGrid .header {
    background: #12203E;
    color: #fff;
    grid-area: header;
    height: 50px;
}

.bodyPadreGrid .contenido {
    grid-area: contenido;
}

.bodyPadreGrid .fotito {
    grid-column: 3 / 4;
    background: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    grid-area: fotito;
}

.bodyPadreGrid .clientes,
.bodyPadreGrid .sobreMi,
.bodyPadreGrid .producto,
.bodyPadreGrid .contacto {
    background: #55a8fd;
    color: white;
    height: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bodyPadreGrid .clientes {
    grid-area: clientes;
}
.clientes:hover {
    background-color:  lightblue;
}

.bodyPadreGrid .sobreMi {
    grid-area: sobreMi;
}
.sobreMi:hover {
    background-color:  lightblue;
}

.bodyPadreGrid .producto {
    grid-area: producto;
}
.producto:hover {
    background-color:  lightblue;
}

.bodyPadreGrid .contacto {
    grid-area: contacto;
}
.contacto:hover {
    background-color:  lightblue;
}

.bodyPadreGrid .footer {
    background: #12203E;
    color: #fff;
    grid-area: footer;
}
@media screen and (max-width: 600px) {
    .bodyPadreGrid {
        grid-template-areas: "header"
            "clientes"
            "sobreMi"
            "producto"
            "contenido"
            "fotito"
            "contacto"
    }
}
h1 {
    font-size: Time;
}
/* Clientes */
.imgCarnet {
    width: 150px;
    height: 150px;
}

